body {
  background: url("weight_room.jpg");
  background-size: cover;
  /* AM: Please remove commented-out code from final project submissions. If you want to keep it, consider putting them in a separate branch. */
  /* AM: This is good practice for the real world, where you shouldn't be shipping out products with code you don't use at all. */
  /*display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;*/
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 100px;
}

h1 {
  font-family: 'Russo One', sans-serif;
  font-size: 45px;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 4px 4px #5C0000;
  margin-bottom: 1px;
}

p {
  font-family: 'Russo One', sans-serif;
  font-size: 36px;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 4px 4px #5C0000;
  margin: 1px 0px;
}

ul {
  font-family: 'Russo One', sans-serif;
  font-size: 34px;
  color: #39FF14;
  text-shadow: 4px 4px #000000;
  margin: 1px 0px;
}

button {
  font: inherit;
  background: #5C0000;
  font-family: 'Russo One', sans-serif;
  font-size: 36px;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 4px 4px #5C0000;
}

form {
  font-family: 'Russo One', sans-serif;
  font-size: 36px;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 4px 4px #5C0000;
}

*{
box-sizing: border-box;
  }

#box1, #box2, #box3, #box4 {
  border: 5px solid black;
  background-color: #414244;
  border-radius: 24px;
  text-align: center;
  line-height: 100px;
  font-family: 'Russo One', sans-serif;
  font-size: 24px;
  color: #FFFFFF;
}

/* AM: Looks like you could also include the height property in your previous selector since all boxes have the same height! */
#box1 {
  width: 175px;
  height: 100px;
}

#box2 {
  width: 250px;
  height: 100px;
}

#box3 {
  width: 325px;
  height: 100px;
}

#box4 {
  width: 400px;
  height: 100px;
}

/* AM: See my earlier note about commented-out code. */
/*#stack1, #stack2, #stack3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  height: 800px;
  background-color: blue;
  position: relative;
  margin: 2px;
}*/

#stack1, #stack2, #stack3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-bottom: 450px solid #5C0000;
  position: relative;
  margin: 150px;
}
